<div style="padding: 20px; width: 60%;">
	<div class="form-group">
		<label for="username">Username</label>
		<input id="username" type="text" class="form-control" placeholder="Enter username" required [(ngModel)]="user.Username">
	</div>	

	<div class="form-group">
		<label for="Password">Enter password</label>
		<input id="Password" type="password" class="form-control" placeholder="Enter password" required [(ngModel)]="user.Password">
	</div>

	<div class="form-group">
		<label for="Firstname">First Name</label>
		<input id="Firstname" type="text" class="form-control" placeholder="Enter first name" required [(ngModel)]="user.Firstname">
	</div>

	<div class="form-group">
		<label for="Lastname">Last Name</label>
		<input id="Lastname" type="text" class="form-control" placeholder="Enter last name" required [(ngModel)]="user.Lastname">
	</div>

	<div class="form-group">
		<label for="Phone">Phone</label>
		<input id="Phone" type="text" class="form-control" placeholder="Enter phone" required [(ngModel)]="user.Phone">
	</div>

	<div class="form-group">
		<label for="Email">Email</label>
		<input id="Email" type="text" class="form-control" placeholder="Enter email" required [(ngModel)]="user.Email">
	</div>

	<div class="form-group">
		<label for="IsReviewer">Reviewer</label>
		<select id="IsReviewer" class="form-control" required [(ngModel)]="user.IsReviewer">
			<option [value]="true">Yes</option>
			<option [value]="false">No</option>
		</select>
	</div>

	<div class="form-group">
		<label for="IsAdmin">Admin</label>
		<select id="IsAdmin" class="form-control" required [(ngModel)]="user.IsAdmin">
			<option [value]="true">Yes</option>
			<option [value]="false">No</option>
		</select>
	</div>

	<div class="form-group">
		<label for="Active">Active</label>
		<select id="Active" class="form-control" required [(ngModel)]="user.Active">
			<option [value]="true">Yes</option>
			<option [value]="false">No</option>
		</select>
	</div>

	<button class="btn btn-primary" (click)="change()">Change</button>
</div>

<br />